body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #111010;
  position: relative; 
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  min-height: 100vh;
  background: url('bg1.jpeg') no-repeat center center/cover; /* Background image settings */
  display: flex; 
  flex-direction: column; 
}

.page-container {
  display: flex;
  flex-direction: column;
  flex: 1; 
  width: 100%; 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px;
  background: rgba(24, 135, 143, 0.911); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(250, 249, 249, 0.911);
  text-align: center;
  flex: 1; 
  width: 100%; 
  box-sizing: border-box; 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-button {
  background: rgba(255, 255, 255, 0.8); 
  border: 2px solid #f0f1f1; 
  border-radius: 10px; 
  cursor: pointer;
  font-size: 1.6em; 
  color: #4facfe; 
  padding: 10px 20px; 
  transition: color 0.3s, background-color 0.3s, transform 0.2s; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
}

.menu-button:hover {
  color: #ffffff; 
  background-color: #3486bd;
  transform: scale(0.8);
}

.dropdown {
  display: none; 
  position: absolute; 
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
  border-radius: 5px; 
  right: 0; 
  top: 11%; 
}

.dropdown a {
  display: block; 
  padding: 10px 15px; 
  color: #4facfe; 
  text-decoration: none; 
}

.dropdown a:hover {
  background-color: #f1f1f1; 
}

h1 {
  font-size: 2.5em; 
  font-weight: bold; 
  color: #faf5f5; 
  text-shadow: 2px 2px 4px rgba(253, 246, 246, 0.788); 
  margin: 20px 0; 
  padding: 20px; 
  text-align: center;
}

h2 {
  font-size: 30px;
  color: rgba(253, 246, 246, 0.788); 
  text-align: justify;
}

p {
  font-size: 1.2em;
  color: #faf7f7;
  text-align: justify;
}

button {
  padding: 15px 20px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #2acdd3;
  transform: scale(1.05);
}

.footer {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px; 
  text-align: center; 
  width: 100%; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  margin-top: 40px; 
}

.footer-content {
  max-width: 800px; 
  margin: 0 auto; 
}

.footer p {
  margin: 0; 
  color: #4facfe; 
  text-align: center;
}

.footer-links {
  margin-top: 10px; 
}

.footer-links a {
  margin: 0 15px; 
  text-decoration: none; 
  color: #4facfe; 
}

.footer-links a:hover {
  text-decoration: underline; 
}
